body {background-color: darkgrey}
.form-wrapper {max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-align: center;margin: 200px auto 1em;}
.form {margin-top: 50px}
button {margin-top: 20px; background-color: cadetblue}
input {margin-left: 15px}
input#task_length {margin-left: 28px}
label {text-align: right}