{% extends 'base.html.twig' %}

{% block title %}Generated!{% endblock %}

{% block body %}
    <div class="form-wrapper">
        <h4>Enter numbers and generated unique codes, choice length and quantity.</h4>
            <div class="form">
                {{ form(form) }}
            </div>
    </div>
{% endblock %}
